body {
  font-family: 'Montserrat', sans-serif;
}
header {
  margin-bottom: 3em;
}

.logo {
  width: 30% ;
  background: rgba(255,255,255, 0.7);
  border-radius: 5px;
}

.home {
  background: rgba(255,255,255, 0.7);
  border-radius: 5px;
  margin-left: 10px;
}

.formations{
  background: rgba(255,255,255, 0.7);
  border-radius: 5px;
  margin-left: 10px;
}

.contact {
  background: rgba(255,255,255, 0.5);
  border-radius: 5px;
  margin-left: 10px;
}

nav {
  font-size: 1.5em;
  background-image: url(images/resto.jpg);
}

.main {
  margin: 0;
}

.menu{
  border: 1px black solid;
}

.menu ul {
  padding-left: 15px;
}

.menu li {
  list-style-type: none;
}

.menu h5 {
    color: rgb(163, 57, 64);
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin-top: 20px;
    font-size: 2em;
}

.menu h6 {
  color: rgb(160, 6, 16);
  font-family: 'Dosis', sans-serif;
  font-size: 1.4em;
}

.horaireMenu {
  padding-left: 10px;
}

footer {
  margin-top: 30px;
}

footer img {
  margin: 30px 20px;
}

.ri {
  width: 6%;
}

.fse3 {
  width: 10%;
}

.partenaires {
  text-align: center;
}

.partenaires p {
  font-size: 10px;
}
